:root{
  --orange:#E76F51;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  line-height: 1.6;
  font-family: "Roboto";
}

/* reset styles */

a{
  text-decoration: non
  
}

/* app style */

.header{
  background: linear-gradient(rgba(59,55,53,0.5), rgba(59,55,53,0.5)), url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}
.container{

}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.app-logo{
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__img{
  width: 100%;
  height: 100%;
}
.menu{
  display: none;
}
.menu__item{

}
.menu__link{

}
.nav-menu{
  display: none;
}
.mobile-menu{

}
.mobile-menu__item{

}
.mobile-menu__link{

}
.nav-menu__links{

}
.nav-menu__link{

}
.nav-menu__link--border{

}
.header__links{
  display: none;
}
.header__link{

}
.header__link--border{

}
.nav__btn{
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__btn-line{
  display: block;
  width: 2.5rem;
  height: 0.4rem;
  background-color: var(--orange);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  position: relative;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after{
  content: " ";
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  background-color: var(--orange);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.nav__btn-line::before{
  top:-0.8rem;
}
.nav__btn-line::after{
  top: 0.8rem;
}

.nav__btn--open  .nav__btn-line{
  background-color: transparent;
}
.nav__btn--open  .nav__btn-line::before{
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.nav__btn--open  .nav__btn-line::after{
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}